<div class="row">
	<div class="large-12 columns">

		<!-- Top Bar -->
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name"><!-- Leave this empty --></li>
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul>
					{% for link in linklists.footer.links %}
						<li>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
			</section>

		</nav>
		<!-- End Top Bar -->

	</div>
</div>