<div class="row">
	<div class="large-12 columns">
      
      <hr />

		<nav>
			<ul class="inline-list">
                {% for link in linklists.footer.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                {% endfor %}
			</ul>
		</nav>

	</div>
</div>