{% if settings.footer_widgets_on %}
	<!-- Widgets -->
		{% include 'footer-widgets' %}
	<!-- End Widgets -->
{% endif %}

<footer class="row">
	<div class="large-12 columns">
		<hr>
		<div class="row">
			<div class="large-6 columns">
              <p><small><a href="https://github.com/Cam/Shopify-Foundation-Theme">Foundation Shopify Theme Framework</a> Built by <a href="http://elkfox.com">Elkfox</a> / <a href="http://camgould.com">Cam</a></small></p>
			</div>
			<div class="large-6 columns">
              <p align="right"><small>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}</small></p>
			</div>
		</div>
      	<br />
	</div>
</footer>