<div class="large-12 columns">

	<!-- Desktop Slider -->

	  <div class="hide-for-small">

		<div class="slideshow-wrapper">
		  <div class="preloader"></div>
			<ul data-orbit data-options="bullets:false;" class="text-center">
				<li>
					<img src="http://placehold.it/1000x563">
					<div class="orbit-caption">
						<h2>Caption One.</h2> 
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<a class="button" href="#">Learn More</a>
					</div>
				</li>
				<li>
					<img src="http://placehold.it/1000x563">
					<div class="orbit-caption">
						<h2>Caption Two.</h2>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<a class="button" href="#">Learn More</a>
					</div>
				</li>
				<li>
					<img src="http://placehold.it/1000x563">
					<div class="orbit-caption">
						<h2>Caption Three.</h2>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<a class="button" href="#">Learn More</a>
					</div>
				</li>
			</ul>
		  </div>
		</div>
	<!-- End Desktop Slider -->
	<!-- Mobile Header -->

	<div class="row">
	  <div class="small-12 show-for-small"><br>
		<img src="http://placehold.it/1000x600&text=For Small Screens" />
	  </div>
	</div>

	<!-- End Mobile Header -->

</div>