/* Why the hell do lists still put their style outside the div? */
ul {
	list-style-position: inside;
}

/* Set the Search in the header to sit together nicely on wide screens */
@media only screen and (min-width: 58.75em) {
	.top-bar .search-textarea {
		padding-right: 0 !important;
	}
	.top-bar .search-submit {
		padding-left: 0 !important;
	}
}

/* Below here are CSS elements that are just here for fun c/o Cam Gould */

/* Cam's Custom Tiny Tags */
.tag {
	padding: 0 9px 0 8px;
	background: #2ba6cb;
	text-decoration: none;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	height: 20px;
	line-height: 20px;
	position: relative;
	font-size: 13px;
	margin: 10px 5px 4px 10px;
	list-style-type: none;
}
.tag a {
	color: #FFF;
}
.tag:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -10px;
	width: 0;
	height: 1px;
	border-color: transparent #2ba6cb transparent transparent;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
.tag:after {
	content: "";
	position: absolute;
	top: 8px;
	left: -2px;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
}